body{
    margin: 0%;
    font-family: 'Redressed', cursive;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.name-highlight{
    color: chocolate;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
}
.half-width img{
    padding: 10px;
    width: 100%;   
}
.top-banner{
    border: 1px fuchsia;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experiance{
        box-shadow: 10px 10px 40px grey ;
        border-radius: 5px;
        height: 70%;
        background-color: white;
}
.exp{
    margin-inline: 5%;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}
#full-stack1{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}